@media(max-width: screen-xs){
				h1{font-size: 30pt;}
			}
			@media(max-width: screen-sm){
				h1{font-size: 70pt;}
			}
h5{font-size: 1.4em;}
h1{text-align:center;}
#length{width: 100%; font-size: 300%; text-align: center; color:#3498db;}
#submit{width: 100%; font-size: 300%; background-color: #ffffff; border-color:white;}
#guess{width: 30%; margin-right: auto; margin-left: auto;