doctype html
html
	head
		include header.jade
		script(src="/Javascript/check.js")
		link(type="text/css" rel="stylesheet" href="../CSS/password.css")

	body
		.container-fullwidth
			include nav.jade
			#content(class="container")
				input(id="length" type='number')
				button(class="btn btn-primary btn-lg btn-block" onclick="submit()") Generate
				h1(id="Password")
