title Allen Ivy
meta(name="author" content="Allen Ivy")
meta(name='viewport', content='width=device-width, initial-scale=1 maximum-scale=1')
script(src="../Javascript/jquery-2.1.1.min.js")
script(type="text/javascript" src="../bootstrap-3.2.0-dist/js/bootstrap.js")
script(type="text/javascript" src="../Javascript/contact.js")
link(rel="shortcut icon" href="../Images/logo_transperent.ico")
link(rel="stylesheet" type="text/css" href="../bootstrap-3.2.0-dist/css/bootstrap.css")
link(rel="stylesheet" type="text/css" href="../bootstrap-3.2.0-dist/css/bootstrap-theme.css")
link(rel="stylesheet" type="text/css" href="../CSS/sitemain.css")