doctype html
html
	head
		include header.jade
		script(src="../Javascript/rcolor.js")
		style @media(max-width: @screen-xs){ h1{font-size: 30pt;}} @media(max-width: @screen-sm){ h1{font-size: 70pt;}} h5{font-size: 1.4em;} h1{text-align: center;}
	body(onload="randomcolor()")
		.container-fullwidth
			include nav.jade